header {
	width: 1920px;
	height: 203px;
	top: calc(50% - 203px / 2 - 3924px);
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #1a1a25;
	.conteiner_header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0px 20px;
		width: 1410px;
		height: 82px;
		img {
			width: 280px;
			height: 28.9px;
		}

		.btn_dropdown_city {
			select {
				width: 70px;
				border: 1px solid #858fa4;
				border-radius: 5px;
				background: #1a1a25;
				font-size: 14px;
				line-height: 140%;
				color: #858fa4;
				cursor: pointer;
				margin-left: 50px;
			}
		}

		.partners {
			margin-left: auto;
			ul {
				display: flex;
				align-items: center;
				gap: 30px;
				li:first-child p {
					width: 89px;
					font-size: 14px;
					line-height: 140%;
					color: #909cb5;
				}
				li:nth-child(2) a {
					padding: 10px;
					width: 142px;
					// height: 37px;
					background: #384255;
					border-radius: 6px;
					/* txt / button */
					font-family: "Inter", sans-serif;
					font-weight: 700;
					font-size: 14px;
					line-height: 17px;
					color: #f7f7f7;
				}
				li:last-child p {
					width: 1px;
					height: 30px;
					background: rgba(133, 143, 164, 0.15);
					border-radius: 1px;
				}
			}
		}

		.contacts {
			margin-left: 30px;
			ul {
				display: flex;
				align-items: center;
				li:first-child a {
					font-family: "Inter", sans-serif;
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;
					color: #ffffff;
				}
				li:nth-child(2) select{
					border: 1px solid transparent;
					background: #1a1a25;
					font-size: 14px;
					line-height: 140%;
					color: #858fa4;
					cursor: pointer;
					line-height: 17px;
					color: #909cb5;
				}
				li:nth-child(3) a {
					font-size: 14px;
					line-height: 140%;
					color: #f53b49;
					margin-left: 26px;
				}
				li:last-child p {
					width: 1px;
					height: 30px;
					background: rgba(133, 143, 164, 0.15);
					border-radius: 1px;
					margin-left: 30px;
				}
			}
		}

		.btn {
			display: flex;
			align-items: center;
			padding: 8.5px 0;
			gap: 14px;
			width: 76px;
			height: 20px;
			/* txt/meny2 */
			font-size: 14px;
			line-height: 140%;
			color: #ffffff;
			background: #1a1a25;
			cursor: pointer;
			margin-left: 30px;
		}
	}
}

@import "./blocks/nav";
