// !!! simulators_for_home_categories_links - тренажёры для дома категории со ссылками

.categories_simulators_for_home {
	display: flex;
	flex-direction: column;
	width: 1410px;
	height: 1203px;
	margin: 0 auto;
	p {
		width: 1410px;
		height: 80px;
		padding-top: 60px;
		font-size: 14px;
		line-height: 140%;
		color: rgba(56, 66, 85, 0.6);
	}
	h1 {
		font-family: "Inter", sans-serif;
		font-weight: 800;
		font-size: 38px;
		line-height: 110%;
		color: #1a1a25;
		margin-top: 30px;
	}
}
.links_simulators_for_home {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 330px);
	grid-template-rows: 521px 446px;

	width: 1410px;
	height: 997px;
	margin-top: 54px;
	ol {
		display: grid;
		grid-auto-flow: column;
		// display: flex;
		// flex-wrap: row wrap;
		// align-items: flex-start;
		border-radius: 6px;
		gap: 30px;
		img {
			width: 330px;
			height: 200px;
		}
		.description_links {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 30px;
			gap: 16px;
			width: 330px;
			height: 321px;
			background: #ffffff;
			h3 {
				font-family: "Inter", sans-serif;
				font-weight: 800;
				font-size: 20px;
				line-height: 120%;
				color: #1a1a25;
			}
			// li {
			// 	display: flex;
			// 	flex-direction: column;
			// 	align-items: flex-start;
			// 	width: 330px;
			// 	height: 521px;
			// 	border-radius: 6px;
			a {
				font-size: 16px;
				line-height: 150%;
				color: #1a1a25;
			}
		}
	}
}
